.slide_container {
    width: 84vw;
    height: 88.5vh;
    background: #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.slide_container > slide {
    width: 10px;
}

.slide_element {
    list-style-type: none;
}