.text {
    width: auto;
    box-sizing: border-box;
    border: hidden;
    resize: none;
    visibility: inherit;
    background-color: transparent;
    overflow: hidden;
}

.text:hover {
    cursor: pointer;
}

.text:focus {
    outline: none;
}