.input {
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;

    color: #f5f5f5;
    border: 1px solid;
    border-color: #585858;
    background-color: #585858;
    border-radius: 5px;

    padding: 8px 10px;
    box-sizing: border-box;
}

.small {
    height: 35px;
    width: 100px;
}

.big {
    height: 46px;
    width: 375px;
}

.input:hover {
    cursor: pointer;
    background-color: #181818;
}

.input:focus {
    border-color: #2824EE;
}

