.input {
    font-family: Roboto;
    font-weight: 500;
    font-size: 25px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;
    height: 46px;
    width: 275px;
}

.input_light_theme {
    color: #505050;
}

.input_dark_theme {
    color: #e9e7e7;
}
