.table {
    height: 35px;
    width: 93px;
    color:  #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    border-spacing: 0px;

    display: flex;
    flex-wrap: nowrap;
    margin-right: 30px;
}

.row, .table_head {
    width: inherit;
    height: 100%;
    margin-top: -1px;
}

.value {
    width: 49px;
    height: 35px;

    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    box-sizing: content-box;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;

    text-align: center;
    vertical-align: center;
}

.minus {
    width: 20px;
    background: center no-repeat url('./icons/minus.svg');
}

.plus {
    width: 20px;
    background: center no-repeat url('./icons/plus.svg');
}

.minus:hover,
.plus:hover {
    cursor: pointer;
}