.table {
    height: 35px;
    width: 93px;

    border-radius: 5px;
    border-spacing: 0px;

    display: flex;
    flex-wrap: nowrap;
    margin-right: 30px;
}

.table_light_theme {
    color:  #505050;
    border: 1px solid #505050;
}

.table_dark_theme{
    color:  #e9e7e7;
    border: 1px solid #e9e7e7;
}

.row, .table_head {
    width: inherit;
    height: 100%;
    margin-top: -1px;
}

.value {
    width: 49px;
    height: 35px;

    box-sizing: content-box;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;

    text-align: center;
    vertical-align: center;
}

.value_light_theme {
    border-left: 1px solid #505050;
    border-right: 1px solid #505050;
}

.value_dark_theme {
    border-left: 1px solid #e9e7e7;
    border-right: 1px solid #e9e7e7;
}

.minus_light_theme {
    width: 20px;
    background: center no-repeat url('./icons/minus_light_theme.svg');
}

.minus_dark_theme {
    width: 20px;
    background: center no-repeat url('./icons/minus_dark_theme.svg');
}

.plus_light_theme {
    width: 20px;
    background: center no-repeat url('./icons/plus_light_theme.svg');
}

.plus_dark_theme {
    width: 20px;
    background: center no-repeat url('./icons/plus_dark_theme.svg');
}

.minus:hover,
.plus:hover {
    cursor: pointer;
}