.app_container {
    width: 100vw;
    height: 100vh;
    user-select: none;
}

.app_light_theme {
    background-color: #ffffff;
    color: #505050;
}

.app_dark_theme {
    background-color: #212121;
    color: #e9e7e7;
}

.app_content {
    display: flex;
    flex-direction: column;
}

.pres_view {
    display: flex;
    margin-top: 10px;
}

.preview_container,
.app_content {
    width: inherit;
    height: inherit;
}

.preview_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    background: #202020;
}

.preview_slide {
    user-select: none;
    transform: scale(1.65);
    pointer-events: none;
    display: block;
}